<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    {% block head %}
    <title>Web Configurator > {% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Web Configurator</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('start') }}">Accueil</a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLB" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Load-balancers
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownLB">
                                <li><a class="dropdown-item" href="/lb/list">Liste load-balancers</a></li>
                                <li><a class="dropdown-item" href="/lb/create">Créer load-balancer</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRP" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Reverse proxys
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownRP">
                                <li><a class="dropdown-item" href="/rp/list">Liste reverse proxys</a></li>
                                <li><a class="dropdown-item" href="/rp/create">Créer reverse proxy</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownWS" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Serveurs web
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownWS">
                                <li><a class="dropdown-item" href="/ws/list">Liste serveurs web</a></li>
                                <li><a class="dropdown-item" href="/ws/create">Créer serveur web</a></li>
                            </ul>
                        </li>
                        </ul>
                        <div class="ms-auto">
                        <a href="/logout" class="btn btn-outline-danger btn-sm">Déconnexion</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <div class="container mt-3"> <div class="row">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('start') }}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ self.title() }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        {% block content %}{% endblock %}
    </section>
    
    <footer>
        <nav class="navbar fixed-bottom navbar-light bg-light">
            <div class="container-fluid">
                Copyright Univ-Savoie
            </div>
        </nav>
    </footer>

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.js') }}"></script>
</body>

</html>