{% extends "layout.html" %}

{% block title %}Configuration Nginx - {{ lb.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Configuration générée : {{ lb.name }}</h2>
    <hr>
    
    <div class="card bg-dark text-light p-4 shadow">
        <pre><code>
# Configuration générée pour : {{ lb.name }}

http {
    server_tokens off;

    server {
        listen 80;
        
        server_name {{ lb.ip_bind }}; 

        add_header X-Frame-Options "SAMEORIGIN";
        add_header X-Content-Type-Options "nosniff";
        add_header X-XSS-Protection "1; mode=block";

        location / {
            proxy_pass {{ lb.pass }};

            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }
}
        </code></pre>
    </div>
    
    <a href="/lb/list" class="btn btn-secondary mt-4">Retour à la liste</a>
</div>
{% endblock %}