{% extends "layout.html" %}

{% block title %}Configuration Nginx - {{ lb.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Configuration générée : {{ lb.name }}</h2>
    <div class="d-flex gap-3 mt-4">
        <a href="/lb/list" class="btn btn-secondary">Retour à la liste</a>
        
        <a href="/lb/download/{{ lb.id }}" class="btn" style="background-color: #6f42c1; color: white; border-color: #6f42c1;">
            Télécharger le fichier .conf
        </a>
    </div>
   

    <hr>
    
    <div class="card bg-dark text-light p-4 shadow mb-5">
        <pre><code>
# Configuration générée pour : {{ lb.name }}

http {
    server_tokens off;

    server {
        listen 80;
        
        server_name {{ lb.ip_bind }}; 

        add_header X-Frame-Options "SAMEORIGIN";
        add_header X-Content-Type-Options "nosniff";
        add_header X-XSS-Protection "1; mode=block";

        location / {
            proxy_pass {{ lb.pass }};

            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }
}
        </code></pre>

    </div>
    
    <h4 class="mt-5">Mise en production (Docker)</h4>
    <p class="text-muted">Copiez-collez ces commandes sur votre serveur pour déployer ce Load Balancer.</p>
    
    <div class="card bg-dark text-success p-3 shadow mb-4" style="font-family: monospace;">
        <div class="mb-3">
            <span class="text-light"># 1. Créez le fichier de configuration Nginx</span><br>
            nano {{ lb.name|lower|replace(' ', '-') }}.conf
        </div>
        
        <div>
            <span class="text-light"># 2. Lancez le conteneur Nginx avec ce fichier</span><br>
            docker run -d \<br>
            &nbsp;&nbsp;--name {{ lb.name|lower|replace(' ', '-') }} \<br>
            &nbsp;&nbsp;-p 80:80 \<br>
            &nbsp;&nbsp;-v $(pwd)/{{ lb.name|lower|replace(' ', '-') }}.conf:/etc/nginx/nginx.conf:ro \<br>
            &nbsp;&nbsp;nginx
        </div>
    </div>
    
</div>
{% endblock %}