{% extends "layout.html" %}

{% block title %}Liste des load-balancers{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Liste de nos Load Balancers</h2>
    <hr>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for lb in loadbalancers %}
            <tr>
                <td>{{ lb.id }}</td> 
                <td>{{ lb.name }}</td>
                <td>
                    <a href="/lb/{{ lb.id }}" class="btn btn-primary btn-sm">Voir la config</a>
                    <a href="/lb/delete/{{ lb.id }}" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette configuration ?');">Supprimer</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">Aucun load-balancer trouvé.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <a href="/lb/create" class="btn btn-success">
            <i class="bi bi-plus-lg"></i> Creer un load-balancer
        </a>
    </div>
</div>
{% endblock %}