{% extends "layout.html" %}

{% block title %}Configuration Nginx - {{ rp.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Configuration générée : {{ rp.name }}</h2>
    <hr>
    
    <div class="card bg-dark text-light p-4 shadow">
        <pre><code>
http {
    server_tokens off;

    upstream {{ rp.name }} {
        {% for server in rp.servers %}
        server {{ server }};
        {% endfor %}
    }
    
    server {
        listen 80;

        add_header X-Frame-Options "SAMEORIGIN";
        add_header X-Content-Type-Options "nosniff";

        location / {
            allow 192.168.0.0/16;
            allow 127.0.0.1;
            deny all;
            
            proxy_pass http://{{ rp.name }};
        }
    }
}
        </code></pre>
    </div>
    
    <a href="/rp/list" class="btn btn-secondary mt-4">Retour à la liste</a>
</div>
{% endblock %}