{% extends "layout.html" %}
{% block title %}Config - {{ ws.name }}{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Configuration générée : {{ ws.name }}</h2>
    <hr>
    <div class="card bg-dark text-light p-4 shadow">
        <pre><code>
http {
    server_tokens off;

    server {
        listen 80;
        root {{ ws.root }};

        add_header X-Frame-Options "SAMEORIGIN";
        add_header X-Content-Type-Options "nosniff";

        allow 192.168.0.0/16;
        deny all;

        location / {
            index index.html index.htm;
        }

        error_page 404 403 500 503 {{ ws.error_page }};
        location = {{ ws.error_page }} {
            root {{ ws.error_root }};
            internal;
        }
    }
}
        </code></pre>
    </div>
    <a href="/ws/list" class="btn btn-secondary mt-4">Retour à la liste</a>
</div>
{% endblock %}